.signin {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: calc(5 * var(--base-unit));
}

.heading {
  font-family: var(--font-title);
  font-weight: var(--weight-title);
  font-size: calc(1.5 * var(--base-unit));
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(2 * var(--base-unit));
}
