.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--base-unit));
  padding-bottom: calc(1.5 * var(--base-unit));
  width: 100%;

  & > label {
    font-weight: var(--weight-label);
    color: var(--color-text-secondary);
    font-size: calc(0.9 * var(--base-unit));
  }

  & > input, & > textarea, & > select {
    all: unset;
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: calc(0.5 * var(--base-unit));
    padding-left: calc(0.75 * var(--base-unit));
    width: 100%;
  }

  & > input.error_border, & > textarea.error_border, & > select.error_border {
    border: 1px solid var(--color-error);
  }


  & > input:focus, & > textarea:focus, & > select:focus {
    border: 1px solid var(--color-accent);
  }

  & > textarea {
    resize: none;
    height: calc(10 * var(--base-unit));
  }

  & > select > option {
    background-color: var(--color-background);
  }
}

.error_message {
  height: calc(0.75 * var(--base-unit));
  font-size: calc(0.75 * var(--base-unit));
}
