.cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(0.25 * var(--base-unit));

  & > div {
    width: calc(100% - 1.25 * var(--base-unit));
    min-width: calc(100% - 1.25 * var(--base-unit));
    max-width: calc(100% - 1.25 * var(--base-unit));

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
