.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--base-unit));
}

.heading {
  display: flex;
  flex-direction: column;
  gap: calc(0.25 * var(--base-unit));
}

.pretitle_wrapper {
  font-size: var(--base-unit);
  font-variant-caps: small-caps;
  color: var(--color-accent);
  font-family: var(--font-title);
  font-weight: var(--weight-title);
}
