.section {
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
  margin-top: calc(2 * var(--base-unit));
}

.section_title {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--base-unit));
}
