.app {
  height: 100svh;
  width: 100vw;

  background-color: var(--color-background);
  font-family: var(--font);
  color: var(--color-text);
}

.wrapper {
  height: calc(100% - calc(4 * var(--base-unit)));
  margin-top: var(--base-unit);
}
