.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--base-unit));
}

.heading {
  display: flex;
  align-items: center;
  user-select: none;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & > svg {
      height: calc(1.25 * var(--base-unit));
      width: calc(1.25 * var(--base-unit));
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
  margin-top: calc(2 * var(--base-unit));
}

.section_title {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--base-unit));
}
