.wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
  min-height: calc((5.5 + (5 * 3.25)) * var(--base-unit) + 3.5 * var(--base-unit)); /* heading + 5 * rows + footer */
}

.heading {
  padding-left: var(--base-unit);
  padding-right: var(--base-unit);
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.thead {
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  text-align: left;
  font-weight: var(--weight-title);
  font-size: var(--base-unit);
  font-variant-caps: small-caps;
  user-select: none;
}

.tr {
  border-bottom: 1px solid var(--color-border);
  user-select: none;

  & > th {
    padding-top: calc(0.5 * var(--base-unit));
    padding-bottom: calc(0.5 * var(--base-unit));

    & > svg {
      height: var(--base-unit);
      width: var(--base-unit);
      padding-top: calc(0.25 * var(--base-unit));
    }
  }

  & > td {
    padding-top: var(--base-unit);
    padding-bottom: var(--base-unit);
  }

  & > th, & > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  & > th:first-child, & > td:first-child {
    padding-left: var(--base-unit);
  }
  
  & > th:last-child, & > td:last-child {
    padding-right: var(--base-unit);
  }
}

.thr {
  border-bottom: none;
}


.controls_heading {
  width: calc(3 * var(--base-unit));
}

.controls_data {
  text-align: center;
}

.action {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    width: var(--base-unit);
    height: var(--base-unit);
    min-width: var(--base-unit);
    min-height: var(--base-unit);
    max-width: var(--base-unit);
    max-height: var(--base-unit);
  }
}

.clickable_header {
  cursor: pointer;
}

.footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: var(--base-unit);
  justify-content: flex-end;
  gap: calc(2 * var(--base-unit));
  font-size: calc(0.75 * var(--base-unit));
  color: var(--color-text-secondary);
  padding-right: var(--base-unit);
  user-select: none;

  & > div {
    display: flex;
    align-items: center;
    gap: calc(0.5 * var(--base-unit));

    & > span {
      cursor: pointer;
      display: flex;
      align-items: center;

      & > svg {
        width: var(--base-unit);
        height: var(--base-unit);
      }
    }
  }
}
