.wrapper {
  width: 100%;
  height: calc(3 * var(--base-unit));
  display: flex;
  align-items: center;
  background-color: var(--color-surface);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
