:root {
  --base-unit: 1rem;

  --color-accent: #FF4D00;

  --color-light-background: #FFFFFF;
  --color-light-surface: #F6F8FA;
  --color-light-border: #D0D7DE;
  --color-light-text: #0D1117;
  --color-light-text-secondary: #57606A;

  --color-dark-background: #0D1117;
  --color-dark-surface: #161B22;
  --color-dark-border: #30363D;
  --color-dark-text: #F0F6FC;
  --color-dark-text-secondary: #8B949E;

  /* defaulted to light theme. needs a context here */
  --color-background: var(--color-light-background);
  --color-surface: var(--color-light-surface);
  --color-border: var(--color-light-border);
  --color-text: var(--color-light-text);
  --color-text-secondary: var(--color-light-text-secondary);

  --border-radius: 8px;
  --border: 1px solid var(--color-border);

  --font: 'Inter Variable', sans-serif;
  --font-title: 'Space Grotesk Variable', sans-serif;

  --weight-regular: 400;
  --weight-label: 500;
  --weight-title: 600;
}
